.box {
	color: white;
	border: 1px solid black;
	width: 150px;
	height: 50px;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 10px;
}

#box-red {
	background-color: red;
	/*float: left;*/
	margin-left:0;
}

#box-orange {
	background-color: orange;
	/*clear: both;*/
	margin-left:30px;
	
}

#box-yellow {
	background-color: yellow;
	/*float: right;*/
	margin-left:60px;
	
}

#box-green {
	background-color: green;
	/*float: left;*/
	margin-left:90px;
}

#box-blue {
	background-color: blue;
	/*clear: both;*/
	margin-left:120px;
}

#box-purple {
	background-color: violet;
	/*float: right;*/
	margin-left:150px;
}

h1 {color: violet;
	text-decoration: underline;}