html, body#body {
	background: #27a249;
}

.button {
	background-color: black;
	color: white;
	width: 23.6%;
	height: 70px;
	font-size: 20px;
}


.twoOps {
	background-color: #337ab7
}

.oneOps {
	background-color: #484848;
}

.oneOps#equals, .oneOps#store {
	background-color: #440ea9;
}

.button:hover{
     background: yellow;
     color:black;
}

.halfButton:hover{
     background: yellow;
     color:black;
}

#store:hover{
     background: yellow;
     color:black;
}

#equals:hover{
     background: yellow;
     color:black;
}

.button:click{
     background: yellow;
}

h1:hover{ 
	-webkit-transform: scale(1.5);
	color:red;
 }

h1:hover span {display:none}
h1:hover:before {content:"Who said you could touch it?!?!"}

h1 {
	text-align: center;
	color:black;
}

.halfButton {
	background-color: black;
	margin: 0px;
	color: white;
	width: 11.6%;
	height: 70px;
	font-size: 20px;
	padding:0px;
}

.r2col1, .r2col3 {
	background-color: black;
	width:40.6%;
	border:2px solid grey;
	height:85px;
	float:left;
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	overflow: scroll;
}

.r2col2 {
	width: 14.8%;
	border:1px;
	height:85px;
	float:left;
	text-align: center;
	font-weight: bold;
	font-size: 1.3em


}

#areaMain {
	width: 96%;
}

.row, .col {
	margin:0px;
	width:100%;
}