* {
	box-sizing: border-box;

}

.container {
	margin: 0 auto;
	height:1000px;
	width:85%;
	max-width: 1200px;
	background-color: papayawhip;

}

.row {
	width:100%;
}

.row:after {
	content:"";
	display:table;
	clear:both;
}

footer {
    vertical-align: bottom;
    position:relative;
    bottom:-300px;
    height:200px;
    margin:5px;
}


@media screen and (min-width:601px) {
.column {
    float: left;
    padding: 10px;
}

.column.one-half {
    width: 50%;
}

.column.one-third {
    width: 33%;
    background-color: yellow;
}

.column.one-quarter {
    width: 25%;
    background-color: green;
}

.column.one-sixth {
    width: 16.66%;
    background-color: red;
}

.column.one-eighth {
    width: 12.5%;
    background-color: violet;
}

.hidden-on-mobile {
    display:none;
}


}

@media screen and (max-width:600px) {
.column {
    padding: 10px;
}

.column.one-half {
    width: 100%;
}
}


