img {
	/*max-height: 95%;*/
	max-width:95%;
	border-radius:10px;
	width:auto;
	margin-left: 8px;
}

img.anyimg {
	width:100%;
	border-radius:10px;
}

.thumbnail>img {
	max-height: 200px;
	max-width:250px;
	border-radius:10px;

}
.thumbnails {
	height:32em;
}

ul, h2 {
	color:lightgreen;
}

sub {
	color:yellow;
}

.portButtons {
	vertical-align: bottom;
}

.degrees {
	transform: rotate(180deg);
	width:50%;
	margin-left:25%;
}

#fixedheader {
	position: fixed;
	background-color: #2b3e50;
	z-index:1;
	width:100%;
}

#contentarea {
	position:relative;
	padding-top: 140px;
}

#quotePadding {
	padding-left:10px;
	padding-right: 10px;
}


