header {
	height: 75px;
	margin-bottom: 2px;
	border: 0px;
}

main {
	margin: 0;
	border: 0px;
	position: fixed;
	width: 100%;
	background-color: white;
}

body {
	margin:0;
}

.width {
	padding-left: 10px;
	width: 100%;
}

div.navbar {
	height: 40px;
	border: 2px solid black;
	border-left: 0px;
	border-right:  0px;*/

	/*border-top: 2px solid black;*/
	/*border-bottom: 2px solid black;*/
}

div.content {
	border: 0px;
}

#contentContainer {
	padding: 120px 0px;
}