#personalinfo {
	color: red;
}

a#l1, h4, p {
	color: white;
}

a#l2 {
	color: gold;
}

a#l3 {
	color: #28DE5F;
}

.whitetext {
	color: white;
	text-decoration: underline;
	font-family: verdana;
}

#border1 { 
	color:rgb(255,255,255);
	border: 2px solid white;
	width: 450px;
	margin: auto;
 }

#border2 { 
	color:rgb(255,255,255);
	border: 2px solid white;
	width: 450px;
	top: 125px;
	margin: auto;
 }

body, #border2 {
	text-align: center;
}

div>h4 {
	text-decoration: underline;
	font-size: 20px;
}
.world {
	font-size: 40px;
}

/* unvisited link (:link) */
.linkage:link {
    color: rgb(0,255,221);
}
/* visited link (:visited) */
.linkage:visited {
    color: yellow;
}
/* mouse hover over link (:hover) */
.linkage:hover {
    color: orange;
}
/* active/selected link (:active) */
.linkage:active {
    color: green;
}

#createacct {
	margin-right: 15px;
}
